body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.pinimg.com/originals/62/39/4d/62394d753859943e6a1a36443ef78795.gif');
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-form {
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white background */
    padding: 80px;
    border-radius: 9px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.contact-form h1 {
    text-align: center;
}

label {
    font-weight: bold;
    color: #34a9ff; /* Cool blue label color */
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #34a9ff; /* Cool blue border */
    border-radius: 5px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white background */
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #34a9ff; /* Cool blue button background */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #2584c4; /* Slightly darker blue on hover */
}